{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<div class="row"  style="margin-top: 100px">
			<div class="col-md-4"></div>
			<div class="col-md-5">
				<p class="text-muted" style="font-size: 50px;">Let's Find it !</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-7">
				<form class="form-inline" id="searchForm" action="/" method="GET">
					<input class="form-control col-md-8" type="text" id="search" name="search" placeholder="Search" required>
					<input class="btn btn-outline-success" type="submit" value="Search">
				</form>
			</div>
		</div>
		<div style="margin-top: 20px;" class="row">
				<table class="table" id="searchResponse">
				</table>
		</div>
	</div>
{% endblock body %}