{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<div class="row"  style="margin-top: 100px">
			<div class="col-md-4"></div>
			<div class="col-md-5">
				<p class="text-muted" style="font-size: 50px;">Let's Find it !</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-7">
				<form class="form-inline" action="/" method="POST">
					<input class="form-control col-md-8" type="text" id="search" name="search" placeholder="Search">
					<input class="btn btn-outline-success" type="submit" value="Search">
				</form>
			</div>
		</div>
		<div style="margin-top: 20px;" class="row">
			{% if items %}
				<p class="text-info"> Items found - {{ itemsFound }}</p>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Item Name</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
							<tr>
								<th scope="row">{{ item.id }}</th>
								<td>{{ item.name }}</td>
								<td><a class="text-info" href={{ item.link }}>{{ item.link }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p class="text-danger"> Items Not Found</p>
			{% endif %}
		</div>
	</div>
{% endblock body %}