<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/ico" href="../static/styles/images/icons/png/017-project-management.png">
		<title>Let's Find it!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../static/styles/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/styles/css/bootstrap.min.css">
		<script src="../static/styles/js/ajax.js"></script>
		<!-- <script src="../static/styles/js/function.js"></script> -->
		<meta charset="UTF-8">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">WebScraper</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link text-primary" href="/admin">Admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-primary" href="#">Profile Name</a>
					</li>
				</ul>
				<span class="navbar-text">
					<a href="/login" class="text-info">Login</a>
				</span>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer class="page-footer font-small special-color-dark pt-4">
			<div class="footer-copyright text-center py-3">&copy; 2018 Copyright:
				<a class="text-warning" href="https://github.com/hybridx/WebScraper"> Find Us - [Vaibhav Nimbalkar,Chetan Kardile,Deepesh Nair]</a>
			</div>
		</footer>
	</body>
</html>